.main-body{
    height:580px;
}
.card{
    height:350px;
    width:300px;
    border:2px solid rgb(158, 132, 132);
    margin: 10px;
}
.resto-section{
    display: flex;
    padding: 15px;
    
}
.highlight-heading{
    color:rgb(232, 20, 20);
}