* { 
    padding: 0px;
    margin: 0px;
}

.header-logo{
    height:20px;
}
/* .main-body{
    height:700px;
} */
.card{
    height:350px;
    width:300px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
   
}
/* .card1{ */
    /* height:250px;
    width:280px;
    border:2px solid rgb(199, 13, 13);
    border-radius: 5px;
    margin: 10px; */
    /* text-align: center;
} */
/* .card-body1 img{
    border-radius: 50%;
    height:100px;
    width:100px;
    padding: 5px;
} */
/* .navbar-nav img{
    border-radius: 30%;
    height:50px;
    width:80px;
    margin: 5px;
} */
.navbar-nav li a{
    font-size: 20px;
    color:rgb(255, 255, 255);
}
/* .scroll-menu{
            height: 400px;
            width:100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        
} 
/* .resto-section{
    display: flex;
    padding: 15px;
    
} */
.card-image{
    width:150px;
    height:150px;
}
.card{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
}
/* .food-section{
    display: flex;
    padding: 15px;
}
.highlight-heading{
    color:rgb(232, 20, 20);
}
.resto-heading{
    color:rgb(232, 20, 20);
} */